.story{
     /* height: 800px;
    /* margin-left: 250px;
    margin-top: 200px;  */ 
    
    
    
}

.story-h2{
    font-size: 40px;
    /* margin-top: 150px; */
}
.story-p{
    font-size: 25px;

}
.story-ul{
    font-size: 25px;
}

.btn_resize{
    /* height: 60px;
    width: 200px; */
    font-size: 20px;


}