.p-padding{
    /* padding-left: 20px; */
    /* padding-right: 90px; */
}

.cards{
    /* width: 18rem;
    border: 1px solid #F0F0F0;
    width: 19%;
    height: 38%;
    margin-top: 150px; */
}

.img-resize{
   /* height: 110px; 
   width: 130px; */
   position: relative;
   top: -36px;
   
}
.p-tag{
    font-size: 20px;
    font-weight: 600;
}